@import "styles/main";

.container {
  width: 81%;
  margin: 100px auto 50px auto;

  .header {
    width: 92%;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__menu {
      display: flex;
      align-items: baseline;
      gap: 50px;
    }

    button {
      width: 170px;
      height: 30px;
    }

    .header__menu_title {
      @include sizeTitle();
      font-size: 48px;
      font-weight: bold;
      text-transform: uppercase;
    }

    h2 {
      font-size: 36px;
      opacity: 50%;
      text-transform: uppercase;
    }
  }

  img {
    width: 335px;
    height: 267px;
  }

  .slider__slide {
    display: flex;
    flex-direction: column;

    p {
      font-size: 20px;
      font-weight: bold;
      padding-top: 15px;
      text-align: center;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .x {
    background: none;
    padding-bottom: 50px;
  }
}

@media (max-width: 1200px) {
  .container {
    margin-top: 0;

    .header__menu {
      margin: auto;
    }
  }
}

@media (max-width: 1000px) {
  .container {
    margin-top: -50px;
  }
}

@media (max-width: 900px) {
  .container {
    margin-top: -75px;
  }
}

@media (max-width: 800px) {
  .container {
    margin-top: -125px;
  }
}

@media (max-width: 700px) {
  .container {
    margin-top: -150px;
  }
}

@media (max-width: 600px) {
  .container {
    margin-top: -200px;
  }
}

@media (max-width: 500px) {
  .container {
    margin-top: -250px;
  }
}