@import "styles/main";

.container {
  width: 81%;
  margin: 150px auto 50px auto;

  .prev {
    font-size: 35px;
    background: none;
    margin-top: -45px;
  }

  .arrow {
    margin-right: -100px;
    margin-left: -100px;

    svg {
      fill: $main-color;
    }
  }

  .header {
    width: 92%;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__menu {
      display: flex;
      align-items: baseline;
      gap: 50px;
    }

    button {
      width: 170px;
      height: 30px;
    }

    .header__menu_title {
      @include sizeTitle();
      font-size: 48px;
      font-weight: bold;
      text-transform: uppercase;
    }

    h2 {
      font-size: 36px;
      opacity: 50%;
      text-transform: uppercase;
    }
  }

  .slider__slide {
    display: flex;
    flex-direction: column;
    width: 250px;

    p {
      font-size: 20px;
      font-weight: bold;
      padding-top: 15px;
      text-align: center;
    }

    &:hover {
      cursor: pointer;
    }

    img {
      width: 100%;
      border-bottom: 7px solid $default-color;

      &:hover {
        border-bottom: 7px solid $main-color;
      }
    }
  }

  .x {
    background: none;
    padding-bottom: 50px;
  }
}

@media (min-width: 1500px) {
  .container {
    margin-top: 200px;
  }
}

@media (min-width: 1800px) {
  .container {
    margin-top: 270px;
  }
}

@media (min-width: 1900px) {
  .container {
    margin-top: 400px;
  }
}

@media (max-width: 1200px) {
  .container {
    margin-top: 50px;

    .header__menu {
      margin: auto;
    }

    .prev {
      font-size: 25px;
    }
  }
}

@media (max-width: 1000px) {
  .container {
    margin-top: -50px;
  }
}

@media (max-width: 900px) {
  .container {
    margin-top: -75px;

    .arrow {
      margin-right: -25px;
      margin-left: -25px;
    }
  }
}

@media (max-width: 800px) {
  .container {
    margin-top: -100px;
  }
}

@media (max-width: 700px) {
  .container {
    margin-top: -125px;
  }
}

@media (max-width: 600px) {
  .container {
    margin-top: -150px;

    .prev {
      font-size: 20px;
    }
  }
}

@media (max-width: 500px) {
  .container {
    margin-top: -200px;

    .prev {
      font-size: 10px;
    }
  }
}

@media (max-width: 400px) {
  .container {
    margin-top: -240px;
  }
}

@media (max-width: 300px) {
  .container {
    margin-top: -275px;
  }
}