@import "styles/main";

.container {
  margin-bottom: 25px;

  .container__tags {

    button {
      min-width: 170px;
      height: 30px;

      border-radius: 3px;

      @include buttonBehavior($button-hover, $button-active);
    }

    ul {
      display: flex;
      gap: 15px;
      flex-wrap: wrap;

      padding: 0;

      button {
        background-color: $main-color-light;
      }
    }
  }
}