@import "styles/main";

.container {
  @include container(485px, 690px, 0, rgba(35, 115, 137, 0.75));
  width: 450px;

  .contact__form {
    display: flex;
    flex-direction: column;
    align-items: center;

    form {
      max-width: 485px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: auto;

      div {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
      }

      input, textarea {
        width: 330px;
        height: 50px;
      }

      textarea {
        height: 100px;
      }
    }

    .contact__form_title {
      font-size: 24px;
      font-weight: bold;
      margin-top: 12px;
    }

    .contact__form__policy {
      display: flex;
      flex-direction: row;
      align-items: center;

      label {
        font-size: 9px;
        font-weight: normal;
        color: $default-color;
      }

      input {
        width: 16px;
        height: 16px;
        margin-right: 10px;
      }

      .policy_error {
        color: red;
      }
    }

    .input_error {
      margin: -2px;
      border: 2px solid red;
    }

    button {
      width: 180px;
      height: 35px;
      margin: auto;

      font-weight: bold;

      @include buttonBehavior($button-hover, $button-active);
    }

    p {
      font-size: 16px;
      font-weight: bold;
    }
  }

  .socials__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;


    .socials__form_text {
      font-size: 24px;
      font-weight: bold;
      color: $default-color;
    }

    .socials__form_socials {
      display: flex;
      gap: 20px;
    }
  }
}

@media (max-width: 1200px) {
  .container {
    margin: 25px auto 0 auto;
    width: 380px;
  }
}