@import "styles/main";

.container {
  width: 73%;
  padding-top: 90px;
  margin: auto;

  h1 {
    font-size: 48px;
    @include sizeTitle();
  }

  .container__cards {
    margin: 50px auto;

    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;

    .container__cards_card {
      width: 340px;

      display: flex;
      flex-direction: column;
      margin-bottom: 50px;
      text-align: center;

      p {
        margin: 0;
        font-size: 20px;
      }

      a {
        color: $footer-color;

        img {
          width: 100%;
          border-bottom: 7px solid $default-color;
        }

        &:hover {
          text-decoration: none;

          img {
            border-bottom: 7px solid $main-color;
          }
        }
      }
    }

    .container__cards_empty {
      font-size: 36px;
      margin: auto;
    }
  }
}

@media (max-width: 1200px) {
  .container {
    width: 80%;
  }
}

@media (max-width: 800px) {
  .container {
    width: 90%;
  }
}