@import "styles/main";

.container {
  margin: auto;

  @include container(1000px, 580px, 100px, rgba(35, 115, 137, 0.75));

  .contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }

  .contact__info {
    width: 420px;
    height: 550px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-top: 15px;
    margin-left: 20px;

    background-color: $default-color;
    border-radius: 5px;

    .contact__info_question {
      width: 60%;
      font-size: 32px;
      font-weight: bold;
      margin-top: 15px;
      margin-bottom: 0;
    }

    .contact__info_action {
      width: 45%;
      font-weight: bold;
    }

    p {
      width: 360px;
      padding-left: 30px;
      text-align: start;
    }

    a {
      font-size: 24px;
      color: $footer-color;
    }
  }

  .contact__form {
    display: flex;
    flex-direction: column;
    align-items: center;

    form {
      div {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
      }

      input, textarea {
        width: 330px;
        height: 50px;
      }

      textarea {
        height: 100px;
      }
    }

    .contact__form__policy {
      display: flex;
      flex-direction: row;
      align-items: center;

      label {
        font-size: 9px;
        font-weight: normal;
        color: $default-color;
      }

      input {
        width: 16px;
        height: 16px;
        margin-right: 10px;
      }

      .policy_error {
        color: red;
      }
    }

    .input_error {
      margin: -2px;
      border: 2px solid red;
    }

    button {
      width: 180px;
      height: 35px;
      margin: auto;

      font-weight: lighter;
    }

    p {
      font-size: 16px;
      font-weight: bold;
    }
  }
}