@import "styles/main";

.container {
  margin: auto;

  @include container(1000px, 580px, 50px, rgba(35, 115, 137, 0.75));

  .contact {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .contact__info {
    width: 420px;
    height: 550px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-top: 15px;
    margin-left: 20px;

    background-color: $default-color;
    border-radius: 5px;

    .contact__info_question {
      width: 60%;
      font-size: 32px;
      font-weight: bold;
      margin-top: 15px;
      margin-bottom: 0;
    }

    .contact__info_action {
      width: 45%;
      font-weight: bold;
    }

    .contact__info__contacts p {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    p {
      width: 360px;
      padding-left: 30px;
      text-align: start;
    }

    a {
      font-size: 24px;
      color: $footer-color;
    }
  }

  .contact__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;

    form {
      div {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
      }

      input, textarea {
        width: 330px;
        height: 50px;
      }

      textarea {
        height: 100px;
      }
    }

    .contact__form__policy {
      display: flex;
      flex-direction: row;
      align-items: center;

      label {
        font-size: 9px;
        font-weight: normal;
        color: $default-color;
      }

      input {
        width: 16px;
        height: 16px;
        margin-right: 10px;
      }

      .policy_error {
        color: red;
      }
    }

    .input_error {
      margin: -2px;
      border: 2px solid red;
    }

    button {
      width: 180px;
      height: 35px;
      margin: auto;

      font-weight: lighter;

      @include buttonBehavior($button-hover, $button-active);
    }

    p {
      font-size: 16px;
      font-weight: bold;
    }
  }
}

@media (max-width: 1050px) {
  .container {
    max-width: 850px;

    .contact__form {
      padding-right: 25px;
    }
  }
}

@media (max-width: 900px) {
  .container {
    width: 390px;

    .contact {
      justify-content: center;
    }

    .contact__form {
      padding-right: 0;
    }

    .contact__info {
      display: none;
    }
  }
}

@media (max-width: 450px) {
  .container {
    width: 90%;

    .contact__form {
      text-align: center;

      form {

        input, textarea {
          width: 300px;
          margin: auto;
        }
      }
    }

  }
}