@import "styles/main";

.container {
  margin: auto;

  @include container(1000px, 580px, 100px, rgba(35, 115, 137, 0.75));

  .contact_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 150px;
  }

  .contact_info {
    width: 420px;
    height: 550px;

    margin-top: 15px;
    margin-left: 20px;

    background-color: $default-color;
    border-radius: 5px;

    h1 {
      padding-left: 30px;
    }

    h5, p {
      width: 360px;
      padding-left: 30px;
    }
  }

  .form_container {
    display: flex;
    flex-direction: column;
    align-items: center;

    form {
      div {
        display: flex;
        flex-direction: column;
        margin-bottom: 12px;
      }

      input, textarea {
        width: 330px;
        height: 50px;

        border-radius: 5px;
      }

      textarea {
        height: 100px;
      }
    }

    .policy {
      display: flex;
      align-items: center;

      label {
        font-size: 8px;
        font-weight: normal;
        color: $default-color;

        padding-left: 10px;
      }

      input {
        width: 16px;
        height: 16px;
      }
    }

    button {
      width: 220px;
      height: 30px;

      font-weight: bold;
      color: $default-color;

      background: $main-color;

      border-radius: 5px;
      border: none;

      margin-top: 20px;
    }
  }
}