@import "styles/main";

.banner_container {
  max-height: 500px;

  .prev {
    font-size: 30px;
  }

  .arrow {
    background: $default-color;

    svg {
      fill: $main-color;
    }
  }

  .page {
    width: 15px;
    height: 15px;

    background: $default-color;
    opacity: 1;

    border: 1px solid $main-color;
    margin-right: 10px;
  }

  .page:before {
    background: $main-color;
    border: 1px solid $default-color;
  }

  img {
    width: 100%;
  }
}

@media (min-width: 1500px) {
  .banner_container {
    margin-bottom: 70px;
  }
}

@media (min-width: 1600px) {
  .banner_container {
    margin-bottom: 150px;
  }
}

@media (min-width: 1900px) {
  .banner_container {
    margin-bottom: 270px;
  }
}

@media (min-width: 2200px) {
  .banner_container {
    margin-bottom: 530px;
  }
}

@media (max-width: 1200px) {
  .banner_container {
    .prev {
      font-size: 20px;
    }
  }
}

@media (max-width: 900px) {
  .banner_container {
    .page {
      width: 12px;
      height: 12px;
    }

    .prev {
      font-size: 15px;
    }
  }
}

@media (max-width: 600px) {
  .banner_container {
    .page {
      width: 10px;
      height: 10px;
    }

    .prev {
      font-size: 10px;
    }
  }
}

@media (max-width: 500px) {
  .banner_container {
    .prev {
      font-size: 5px;
    }
  }
}