@import "styles/main";

.info_container {
  @include container(100%, 100%, 0, $main-color);

  .info_content {
    max-width: 1160px;
    margin: auto;
    padding: 0 25px;

    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    gap: 25px;
  }

  .info_content div {
    width: 270px;
  }

  h1 {
    @include header(235px, $default-color);
    padding-top: 40px;
  }

  h2 {
    margin-top: 30px;
    font-size: 19px;
  }

  h2, p {
    color: $default-color;
  }
}

@media (max-width: 1204px) {
  .info_container {
    .info_content {
      max-width: 900px;
    }
  }
}

@media (max-width: 1200px) {
  .info_container {
    h1 {
      @include header(0, $default-color);
      text-align: center;
    }
  }
}

@media (max-width: 910px) {
  .info_container {
    .info_content {
      max-width: 600px;
    }
  }
}

@media (max-width: 620px) {
  .info_content {
    flex-direction: column;
    align-items: center;
  }
}