@import "styles/main";

.partner_container {
  width: 1000px;
  margin: 100px auto;

  h1 {
    @include header(0, $main-color);
  }

  .logo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 100px;
    grid-row-gap: 50px;
  }
}
