@import "styles/main";

.partner_container {
  max-width: 1000px;
  margin: 50px auto;

  h1 {
    @include header(0, $footer-color);
  }

  .logo {
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
    padding: 0 25px;
  }
}

@media (max-width: 1200px) {
  .partner_container {
    h1 {
      text-align: center;
    }
  }
}
