@import "styles/main";

.container {
  width: 81%;
  margin: auto;

  .container__header {
    width: 92%;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .container__header_menu {
      display: flex;
      align-items: baseline;
      gap: 50px;
    }

    .header__menu_title {
      font-size: 48px;
      @include sizeTitle();
      font-weight: bold;
      text-transform: uppercase;
    }

    h2 {
      font-size: 36px;
      opacity: 50%;
      text-transform: uppercase;
    }
  }

  p {
    font-size: 20px;
    font-weight: bold;

    text-align: center;
  }

  img {
    width: 335px;
    height: 267px;
  }

  .slider__cards {
    display: flex;
    flex-direction: column;

    p {
      margin: 0;
    }
  }

  .x {
    background: none;
    padding-bottom: 50px;
  }

  a {
    color: $footer-color;

    img {
      border-bottom: 7px solid $default-color;
    }

    &:hover {
      text-decoration: none;

      img {
        border-bottom: 7px solid $main-color;
      }
    }
  }

  .container__btn_down {
    display: none;
  }

  button {
    width: 170px;
    height: 30px;

    a {
      color: $default-color;
      font-weight: normal;
    }
  }
}

@media (max-width: 1200px) {
  .container {
    .container__header_menu {
      margin: auto;
    }

    .container__btn_up {
      display: none;
    }

    .container__btn_down {
      display: block;
      margin-top: 25px;
      text-align: center;
    }
  }
}