@import "styles/main";

.container {
  width: 81%;
  margin: auto;

  .container__header {
    width: 92%;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .container__header_menu {
      display: flex;
      align-items: baseline;
      gap: 50px;
    }

    .header__menu_title {
      font-size: 48px;
      @include sizeTitle();
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .container__image {
    img {
      width: 340px;
      height: 270px;
    }
  }

  p {
    font-size: 20px;
    font-weight: bold;

    text-align: center;
  }

  .slider__cards {
    width: 340px;
    height: 340px;
    display: flex;
    flex-direction: column;

    p {
      margin: 0;
    }
  }

  .prev {
    font-size: 35px;
    background: none;
    margin-top: -35px;
  }

  .arrow {
    margin-right: -150px;
    margin-left: -150px;

    svg {
      fill: $main-color;
    }
  }

  a {
    color: $footer-color;

    img {
      border-bottom: 7px solid $default-color;
    }

    &:hover {
      text-decoration: none;

      img {
        border-bottom: 7px solid $main-color;
      }
    }
  }

  .container__btn_down {
    display: none;
  }

  button {
    width: 170px;
    height: 30px;

    a {
      color: $default-color;
      font-weight: normal;
    }

    @include buttonBehavior($button-hover, $button-active);
  }
}

@media (max-width: 1200px) {
  .container {
    .container__header_menu {
      margin: auto;
    }

    .container__btn_up {
      display: none;
    }

    .container__btn_down {
      display: block;
      margin-top: 25px;
      text-align: center;
    }

    .prev {
      font-size: 25px;
    }

    .arrow {
      margin-right: -120px;
      margin-left: -120px;
    }
  }
}

@media (max-width: 1000px) {
  .container {
    .arrow {
      margin-right: -110px;
      margin-left: -110px;
    }
  }
}

@media (max-width: 900px) {
  .container {
    .arrow {
      margin-right: -25px;
      margin-left: -25px;
    }
  }
}

@media (max-width: 750px) {
  .container {
    .arrow {
      margin-right: -55px;
      margin-left: -55px;
    }
  }
}

@media (max-width: 750px) {
  .container {
    .arrow {
      margin-right: -75px;
      margin-left: -75px;
    }
  }
}

@media (max-width: 650px) {
  .container {
    .arrow {
      margin-right: -70px;
      margin-left: -70px;
    }
  }
}

@media (max-width: 600px) {
  .container {
    .prev {
      font-size: 20px;
    }
  }
}

@media (max-width: 550px) {
  .container {
    .prev {
      font-size: 10px;
    }

    .arrow {
      display: none;
    }
  }
}

@media (max-width: 500px) {
  .container {
    .prev {
      font-size: 10px;
    }
  }
}