@import "styles/main";

.container {
  @include container(100%, 160px, 50px, $main-color-light);

  .contact {
    height: 100%;

    display: flex;
    justify-content: center;

    .contact__consult {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 15px;

      img {
        padding-right: 30px;
      }

      .contact__consult_btn {
        display: flex;
        gap: 15px;
      }
    }

    .contact__subscript {
      display: flex;
      align-items: center;
      padding-left: 15px;

      img {
        padding-right: 30px;
      }
    }

    .contact__title {
      font-weight: bold;
      color: $default-color;
      margin: 0;
    }

    .contact__subtitle {
      font-size: 12px;
      font-weight: lighter;
      color: $default-color;
      margin: 0;
    }

    button {
      width: 166px;
      height: 30px;

      font-size: 16px;
      font-weight: bold;

      color: $footer-color;
      background: $default-color;

      @include buttonBehaviorWhite($button-active);
    }

    .contact__content {
      height: 87px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .contact__policy {
      display: flex;
      align-items: center;
      margin: -10px 0 0 0;

      label {
        font-size: 9px;
        font-weight: normal;
        color: $default-color;
      }

      input {
        width: 16px;
        height: 16px;
        margin: 0 10px 0 0;
      }

      .policy_error {
        color: red;
      }
    }

    .input_error {
      margin: -2px;
      border: 2px solid red;
    }

    .contact__subscript_btn {
      display: flex;
      gap: 15px;

      input {
        width: 250px;
        height: 28px;
      }
    }
  }
}

@media (max-width: 1100px) {
  .container {

    .contact {
      padding-right: 25px;
      padding-left: 25px;

      .contact__consult {
        padding: 0;
      }

      .contact__subscript {
        padding: 0;
      }
    }
  }
}

@media (max-width: 1084px) {
  .container {
    height: 300px;

    .contact {
      flex-direction: column;
      justify-content: center;
      gap: 50px;

      .contact__consult {
        justify-content: center;
      }

      .contact__subscript {
        justify-content: center;
      }

      .contact__subscript_btn {
        input {
          width: 163px;
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .container {
    height: 330px;

    .contact {
      height: 80%;
      text-align: center;

      .contact__consult {

        .contact__consult_btn {
          padding-top: 5px;
        }

        img {
          display: none;
        }
      }

      .contact__subscript {
        .contact__subscript_btn {
          flex-direction: column;
          gap: 10px;
          align-items: center;
          padding-top: 10px;

          input {
            width: 325px;
          }
        }

        img {
          display: none;
        }
      }

      .contact__policy {
        padding-top: 10px;
      }

      button {
        width: 153px;
        height: 68px;

        font-size: 16px;
        font-weight: bold;

        color: $footer-color;
        background: $default-color;
      }
    }
  }
}