@import "styles/main";

.container {
  width: 73%;
  padding-top: 90px;
  margin: auto;

  h1 {
    font-size: 48px;
    @include sizeTitle();
  }

  button {
    width: 170px;
    height: 30px;

    margin-top: 15px;

    @include buttonBehavior($button-hover, $button-active);
  }

  .container__pinned {
    display: flex;
    justify-content: center;
    gap: 100px;
    text-align: start;

    .pinned {
      display: flex;
      flex-direction: column;

      &__title {
        font-size: 48px;
        font-weight: bold;
        line-height: 1.2;
      }

      a {
        text-align: center;
      }
    }
  }

  .container__cards {
    margin: 50px auto;

    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;

    .container__cards_card {
      width: 340px;
      height: 430px;

      display: flex;
      flex-direction: column;
      position: relative;

      margin-bottom: 50px;

      .cards_card_title {
        font-size: 20px;
        font-weight: bold;
        margin-top: 15px;
      }

      .cards_card_date {
        font-size: 16px;
        font-weight: normal;
        color: $date-color;
      }

      button {
        position: absolute;
        bottom: 0;
      }

      img {
        width: 100%;
      }
    }

    .container__cards_empty {
      font-size: 36px;
      margin: auto;
    }
  }
}

@media (max-width: 1200px) {
  .container {
    width: 80%;

    .container__pinned {
      flex-direction: column;
      gap: 0;

      .image {
        max-width: 570px;

        img {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .container {
    width: 90%;
  }
}