@import "styles/main";

.container {
  width: 81%;
  margin: 50px auto;

  .container__header {
    width: 92%;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .container__header_menu {
      display: flex;
      align-items: baseline;
      gap: 50px;
    }

    .main_text {
      font-size: 48px;
      text-transform: uppercase;
      font-weight: bold;
      cursor: pointer;
      @include sizeTitle();
    }

    .regular_text {
      font-size: 36px;
      text-transform: uppercase;
      font-weight: bold;
      opacity: 50%;
      cursor: pointer;
      @include regularSizeTitle();
    }
  }

  img {
    width: 198px;
    height: 190px;
    border-radius: 20px;
  }

  button {
    width: 170px;
    height: 30px;

    @include buttonBehavior($button-hover, $button-active);
  }

  .slide {
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    div {
      font-size: 20px;
      font-weight: bold;
      color: $footer-color;
    }
  }

  .prev {
    font-size: 35px;
    background: none;
    margin-top: -45px;

    &:active {
      box-shadow: none;
    }
  }

  .arrow {
    margin-right: -150px;
    margin-left: -150px;

    svg {
      fill: $main-color;
    }
  }

  .container__btn_down {
    display: none;
  }

  a {
    //color: $footer-color;
  }
}

@media (max-width: 1200px) {
  .container {
    .container__header_menu {
      margin: auto;
    }

    .container__btn_up {
      display: none;
    }

    .container__btn_down {
      display: block;
      margin-top: 25px;
      text-align: center;
    }

    .prev {
      font-size: 25px;
    }
  }
}

@media (max-width: 1200px) {
  .container {
    .arrow {
      margin-right: -115px;
      margin-left: -115px;
    }
  }
}

@media (max-width: 950px) {
  .container {
    .arrow {
      margin-right: -100px;
      margin-left: -100px;
    }
  }
}

@media (max-width: 800px) {
  .container {
    .arrow {
      margin-right: -80px;
      margin-left: -80px;
    }
  }
}

@media (max-width: 650px) {
  .container {
    .arrow {
      margin-right: -55px;
      margin-left: -55px;
    }
  }
}

@media (max-width: 600px) {
  .container {
    .prev {
      font-size: 20px;
    }
  }
}

@media (max-width: 500px) {
  .container {
    .container__header {
      .container__header_menu {
        gap: 30px;
      }
    }

    .arrow {
      margin-right: -45px;
      margin-left: -45px;
    }

    .prev {
      font-size: 10px;
    }
  }
}

@media (max-width: 400px) {
  .container {
    .arrow {
      display: none;
    }
  }
}

@media (max-width: 350px) {
  .container {
    .container__header {
      .container__header_menu {
        gap: 10px;
      }
    }
  }
}