@import "styles/main";

.container {
  padding-top: 90px;

  .container__text {
    width: 67%;
    margin: auto;
  }

  h1 {
    font-size: 48px;
    text-align: start;
    @include sizeTitle();
  }

  .container__text_date {
    font-size: 16px;
    font-weight: normal;
    color: $date-color;
  }
}

@media (max-width: 1200px) {
  .container {
    .container__text {
      width: 80%;
    }
  }
}

@media (max-width: 800px) {
  .container {
    .container__text {
      width: 90%;
    }
  }
}