@import "styles/main";

.container {
  padding-top: 90px;

  .container__text {
    width: 970px;
    margin: auto;
  }

  h1 {
    font-size: 48px;
  }

  .container__text_date {
    font-size: 16px;
    font-weight: normal;
    color: $date-color;
  }
}