@import "styles/main";

.container {
  padding-top: 90px;

  .container__text {
    width: 970px;
    margin: auto;

    .container__text_links {
      font-size: 48px;
      margin: auto;
      padding: 0;

      a {
        color: $footer-color;
      }

      img {
        padding-left: 20px;
      }
    }
  }

  h1 {
    font-size: 48px;
  }
}