@import "styles/main";

.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    width: 350px;
    height: 180px;

    background: $main-color;
    border-radius: 12px;
  }

  button {
    width: 166px;
    height: 30px;
    margin-top: 10px;

    font-size: 16px;
    font-weight: bold;

    color: $footer-color;
    background: $default-color;
  }

  label {
    color: $default-color;
  }

  .modal__title {
    font-weight: bold;
    font-size: 24px;
    color: $default-color;

    width: 100%;
    position: relative;
    text-align: center;

    .modal__title_close {
      position: absolute;
      top: 0;
      right: 20px;

      cursor: pointer;

      &:hover {
        color: red;
      }
    }
  }

  .modal__input {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .input_error {
    margin: -2px;
    border: 2px solid red;
  }
}