@mixin container($width, $height, $margin: 100px, $color, $radius: 0) {
  max-width: $width;
  height: $height;

  margin-top: $margin;

  background-color: $color;
  border-radius: $radius;
}

@mixin header($paddingLeft, $color) {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  color: $color;

  padding-left: $paddingLeft;
}

@mixin button($backgroundColor, $color, $borderRadius) {
  background: $backgroundColor;
  color: $color;
  border-radius: $borderRadius;

  text-align: center;
}

@mixin sizeTitle() {
  @media (max-width: 900px) {
    font-size: 43px;
  }

  @media (max-width: 700px) {
      font-size: 40px;
  }

  @media (max-width: 600px) {
      font-size: 38px;
    }

  @media (max-width: 400px) {
    font-size: 36px;
  }
}

@mixin regularSizeTitle() {
  @media (max-width: 900px) {
    font-size: 38px;
  }

  @media (max-width: 700px) {
    font-size: 30px;
  }

  @media (max-width: 600px) {
    font-size: 28px;
  }

  @media (max-width: 400px) {
    font-size: 24px;
  }
}

@mixin buttonBehavior($button-hover, $button-active) {
  &:hover {
    text-decoration: underline;
    color: $button-hover;
  }

  &:active {
    text-decoration: none;
    box-shadow: inset 0 4px 4px $button-active;
  }
}

@mixin buttonTagDisable($button-tag-active) {
  background: $button-tag-active;
}

@mixin buttonBehaviorWhite($button-active) {
  &:hover {
    text-decoration: underline;
  }

  &:active {
    text-decoration: none;
    box-shadow: inset 0 4px 4px $button-active;
  }
}