@mixin container($width, $height, $margin: 100px, $color, $radius: 0) {
  width: $width;
  height: $height;

  margin-top: $margin;

  background-color: $color;
  border-radius: $radius;
}

@mixin header($paddingLeft, $color) {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  color: $color;

  padding-top: 45px;
  padding-left: $paddingLeft;
}

@mixin button($backgroundColor, $color, $borderRadius) {
  background: $backgroundColor;
  color: $color;
  border-radius: $borderRadius;

  text-align: center;
}