$base-font: 'Roboto', sans-serif;
$logo-font: "Roboto Condensed", sans-serif;
$button-font: "Roboto Light", sans-serif;

$background-color: #F5F5F5;
$main-color: #237389;
$main-color-light: rgba(35, 115, 137, 0.75);
$default-color: #FFFFFF;
$catalog-color: #D9D9D9;
$border-color: rgba(0, 0, 0, 0.21);
$footer-color: #000000;
$date-color: #C4C4C4;

$width: 1160px;

