$base-font: 'Roboto', sans-serif;
$logo-font: "Roboto Condensed", sans-serif;
$button-font: "Roboto Light", sans-serif;

$background-color: #F5F5F5;
$main-color: #237389;
$default-color: #FFFFFF;
$border-color: rgba(0, 0, 0, 0.21);
$footer-color: #000000;

$width: 1160px;

