// @import '~bootstrap/scss/bootstrap';
@import "vars";
@import "mixins";

body {
  margin: 0;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  text-align: justify;

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    font-weight: bold;
    color: $main-color;
  }

  a:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  textarea {
    resize: none;
  }

  hr {
    border: 1px solid $default-color;
  }

  button {
    @include button($main-color, $default-color, 2px);

    font-family: $button-font;

    border: none;

    &:hover {
    cursor: pointer;
    }
  }

  input, textarea {
    font-size: 16px;
    border: none;
    border-radius: 5px;
  }

  //::selection {
  //  color: $main-color;
  //}
}

