@import "styles/main";

.container {

  .content {
    margin: auto;

    width: 1160px;
    min-height: 400px;

    .container_title {
      text-align: center;
      @include header(0, $footer-color);
      @include sizeTitle();
    }

    p, ul {
      font-family: $button-font;
    }

    ul {
      list-style: inside;
    }

    img {
      float: left;
      margin: 0 35px 25px 0;
    }
  }

}

@media (max-width: 1200px) {
  .container {
    .content {
      width: auto;
      padding: 0 20px;

      background: $background-color;
      border-top: 2px solid $main-color;
    }

    .container_title {
      text-align: center;
    }

    img {
      display: none;
    }
  }
}

@media (max-width: 800px) {
  .container {

    .content {

      .container_title {
        text-align: center;
      }
    }
  }
}