@import "styles/main";

.container {

  .content {
    margin: auto;

    width: 1160px;
    min-height: 400px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;

    h1 {
      margin: 0;
      @include header(0, $footer-color);
    }

    p, ul {
      font-family: $button-font;
    }

    ul {
      list-style: inside;
    }
  }

}

@media (max-width: 1200px) {
  .image {
    display: none;
  }

  .container {
    .content {
      width: auto;
      padding: 0 20px;
      display: flex;

      background: $background-color;
      border-top: 2px solid $main-color;
    }
  }
}

@media (max-width: 800px) {
  .container {

    .content {

      h1 {
        font-size: 36px;
        text-align: center;
      }
    }
  }
}