@import "styles/main";

.container {
  width: 73%;
  padding-top: 90px;
  margin: auto;

  h1 {
    font-size: 48px;
    @include sizeTitle();
  }

  .container__main {
    display: flex;
    justify-content: space-between;

    .container__main_house {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }

  .house_title {
    font-size: 24px;
    font-weight: bold;
  }

  .house_contacts {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    flex-wrap: wrap;
    width: 360px;

    .contacts_item {
      width: 170px;
      height: 20px;

      display: flex;
      align-items: center;
      gap: 5px;

      border-radius: 3px;
      background: $main-color;


      a {
        font-size: 12px;
        font-weight: normal;

        color: $default-color;
      }

      img {
        padding-left: 5px;
      }
    }
  }

  .house_text {
    margin-top: 15px;
    width: 360px;
  }

  .container__submain {
    margin-top: 50px;
  }

  .container__submain_items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;

    margin-top: 25px;
  }
}

@media (max-width: 1200px) {
  .container {
    .container__main {
      flex-direction: column;
      align-items: center;
    }

    .house_title {
      text-align: center;
    }

    .container__submain_items {
      flex-direction: column;
      align-items: center;
    }
  }
}

@media (max-width: 450px) {
  .container {

    .house_title {
      max-width: 350px;
    }

    .house_text {
      margin-top: 15px;
      width: 300px;
    }

    .house_contacts {
      max-width: 330px;
      .contacts_item {
        max-width: 150px;
        a {
          font-size: 12px;
        }
      }
    }
  }
}